@charset "utf-8";
/************************************************************************/
/************** NEW HOMEPAGE FOR DEFENSE.GOV **************/
/************************************************************************/

.paneMarker,
.paneMarkerAlt {
	padding: 0;
}

/***************************************************
    FONTS
***************************************************/
h2.pull-title {
	font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #717171;
    text-transform: uppercase;
}
.tagline {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 19px;
    left: 221px;
    color: #adadad;
    font-size: 20px;
    font-family: "crimson text", serif;
    font-style: italic;
    font-weight: 400;
    border-left: 1px solid #adadad;
    padding: 9px 0 5px 15px;
    margin-left: 5px;
}

/***************************************************
    HIDE NAV
***************************************************/
/*#header-main > div.header-inner > nav > ul > li:nth-child(10),
#header-main > div.header-inner > nav > ul > li:nth-child(11) {
	display: none!important;
}*/
#Body {
	margin-bottom: 0 !important;
}

.live-toggle {
	display: block;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    right: 0;
    top: 0;
}
.event-toggle {
	display: block;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    right: 0;
    bottom: 0;
}


/***************************************************
    LIVE EVENTS
***************************************************/
#v-4 {
	display: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 2px solid #c44b40;
    border-radius: 0;
    background: #c44b40;
    border: none;
}
#v-4.active {
	display: block;
}
#v-4 .live-bar {
    display: flex;
    align-items: stretch;
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}
#v-4 .live-now {
    padding: 18px 20px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    position: relative;
    flex-grow: 1;
    max-width: 184px;
    min-width: 184px;
}
#v-4 .live-now:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 999px;
}
#v-4 .live-now > span span {
    display: inline-block;
    margin-right: 6px;
    width: 34px;
    position: relative;
    top: -2px;
}
#v-4 .live-now:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.2);
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
}
#v-4 .live-now > span {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#v-4 .bar {
    display: inline-block;
    padding: 10px;
    flex-grow: 1;
    margin-right: 200px;
}
#v-4 .event-title {
    display: block;
    font-weight: 700;
    padding: 8px 17px;
    color: #fff;
}
#v-4 .event-title span {
    font-size: 15px;
    color: #fff;
    font-style: italic;
    position: relative;
    top: -2px;
    letter-spacing: 1px;
}
#v-4 .fa-times {
    color: #fff;
}
#v-4 .close-live-bar {
    float: right;
    position: absolute;
    right: 30px;
    top: 22px;
}
#v-4 .more {
    position: absolute;
    bottom: 20px;
    right: 50px;
    opacity: 0.7;
    transition: all .2s;
    color: #fff;
}
#v-4 .x {
    position: absolute;
    top: 18px;
    right: 17px;
    opacity: 0.7;
    transition: all .2s;
}
#v-4 .more:hover {
    opacity: 1;
}
#v-4 .x:hover {
    opacity: 1;
}
#v-4 .drop-item {
    padding: 3px 5px;
}
#v-4 .drop-item .event-title {
    font-weight: 400;
}
#v-4 #collapseExample2 {
    padding: 10px;
}
#v-4 .time {
    font-weight: 700;
    color: #c44b40;
}
#v-4 .time i {
    font-size: .8rem;
}
.event-title {
    margin-left: 0px;
    border-left: 0px solid #333;
    padding-left: 0px;
    transition: all .2s;
}
#v-4 .event-title:hover {
    cursor: pointer;
}

/***************************************************
    GENERAL
***************************************************/
#v-5 {
	display: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 2px solid #355e93;
    border-radius: 0;
    background: #355e93;
    border: none;
}
#v-5.active {
	display: block;
}
#v-5 .live-bar {
    display: flex;
    align-items: stretch;
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}
#v-5 .live-now {
    padding: 18px 20px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    position: relative;
    flex-grow: 1;
    max-width: 184px;
    min-width: 184px;
}
#v-5 .live-now:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 999px;
}
#v-5 .live-now > span span {
    display: inline-block;
    margin-right: 6px;
    width: 34px;
    position: relative;
    top: -2px;
}
#v-5 .live-now:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.2);
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
}
#v-5 .live-now > span {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#v-5 .bar {
    display: inline-block;
    padding: 10px;
    flex-grow: 1;
    margin-right: 200px;
}
#v-5 .event-title {
    display: block;
    font-weight: 700;
    padding: 8px 17px;
    color: #fff;
}
#v-5 .event-title span {
    font-size: 15px;
    color: #fff;
    font-style: italic;
    position: relative;
    top: -2px;
    letter-spacing: 1px;
}
#v-5 .fa-times {
    color: #fff;
}
#v-5 .close-live-bar {
    float: right;
    position: absolute;
    right: 30px;
    top: 22px;
}
#v-5 .more {
    position: absolute;
    bottom: 20px;
    right: 50px;
    opacity: 0.7;
    transition: all .2s;
    color: #fff;
}
#v-5 .x {
    position: absolute;
    top: 18px;
    right: 17px;
    opacity: 0.7;
    transition: all .2s;
}
#v-5 .more:hover {
    opacity: 1;
}
#v-5 .x:hover {
    opacity: 1;
}
#v-5 .drop-item {
    padding: 3px 5px;
}
#v-5 .drop-item .event-title {
    font-weight: 400;
}
#v-5 #collapseExample2 {
    padding: 10px;
}
#v-5 .time {
    font-weight: 700;
    color: #c44b40;
}
#v-5 .time i {
    font-size: .8rem;
}
.event-title {
    margin-left: 0px;
    border-left: 0px solid #333;
    padding-left: 0px;
    transition: all .2s;
}
#v-5 .event-title:hover {
    cursor: pointer;
}

/***************************************************
    GENERAL
***************************************************/
.home-section {
	padding: 3rem 0;
}
h2.slice-title,
.content-wrap .pull-title,
.content-wrap-wide .pull-title {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}
.slice-angle.slice-angle-gray.slice-angle-down-top {
	display: block;
	position: relative;
	z-index: 13;
}
.page-wrap {
	padding: 2rem 0 1.5rem !important;
    transform: none !important;
    margin-bottom: 0 !important;
    min-height: 0 !important;
	background: none;
	position: relative;
	z-index: 9;
}
h2.tab-title a:before,
h2.tab-title span:before {
    border-bottom-width: 35px;
}

/***************************************************
    TOP BANNER
***************************************************/
.home-banner {
	background: #15263b;
	position: relative;
	z-index: 9;
}
.home-banner-inner {
	position: relative;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
main .slice-angle-down-top:before {
	content: none;
}

/***************************************************
    FEAT ARTICLES
***************************************************/
#featArticles {
	display: block;
	position: inherit;
}
.story-slider-wrap {
	background: rgb(21,38,59);
	background: -moz-linear-gradient(top, rgba(21,38,59,1) 0%, rgba(53,94,147,1) 100%);
	background: -webkit-linear-gradient(top, rgba(21,38,59,1) 0%,rgba(53,94,147,1) 100%);
	background: linear-gradient(to bottom, rgba(21,38,59,1) 0%,rgba(53,94,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15263b', endColorstr='#355e93',GradientType=0 );
}
.banner-item {
	display: block;
    position: relative;
	overflow: hidden;
	padding: 100px 0 0;
}
.banner-item .featStoryImg:before {
	display: block;
	content: '';
	max-width: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -1px;
	z-index: 3;
	background: -moz-linear-gradient(left, rgba(21,38,59,1) 10%, rgba(21,38,59,0) 100%);
	background: -webkit-linear-gradient(left, rgba(21,38,59,1) 10%,rgba(21,38,59,0) 100%);
	background: linear-gradient(to right, rgba(21,38,59,1) 10%,rgba(21,38,59,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15263B', endColorstr='#0015263B',GradientType=1 );
}
#featArticles .featStory .link-overlay {
    position: absolute;
    z-index:11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.banner-item:hover .video-wrap-container img.defaultVideoOverlay {
    display: none;
}
.banner-item:hover .video-wrap-container img.hoverVideoOverlay {
    display: block;
}
.featStory {
    position: relative;
    z-index: 5;
	margin: 0 auto;
	padding: 2rem 15px;
}

.featStory figcaption {
	display: block;
    position: relative;
    margin: 0 2rem 0 0;
    padding: 1.5rem 2rem 4.5rem;
    background: rgba(255,255,255,0.15);
}
.featStory.item .content-type {
	display: inline-block;
	position: absolute;
    z-index: 12;
	top: -17px;
	left: 2rem;
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 20px;
	padding: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}
/*.featStory.item a.content-type-text,
.featStory.item a.content-type-text:link,
.featStory.item a.category,
.featStory.item a.category:link {
    margin: 0;
	padding: 7px 4px 7px 18px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    float: none;
    border: none;
	text-transform: uppercase;
	background: #355e93;
	letter-spacing: 1px;
	transition: all .25s;
}
.featStory.item a.content-type-text .fas {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	font-size: .9em;
	opacity: 0;
	transition: all .25s;
	color: #355e93;
}
.featStory.item a.content-type-text:hover,
.featStory.item a.content-type-text:link:hover {
	text-decoration: none;
	background: #fff;
	color: #355e93;
	font-weight: 600;
	padding: 7px 23px 7px 23px;
}
.featStory.item a.content-type-text:hover .fas {
	opacity: 1;
	left: 5px;
}*/
.featStory.item a.content-type-text,
.featStory.item a.content-type-text:link,
.featStory.item a.category,
.featStory.item a.category:link {
    margin: 0;
	padding: 7px 18px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    float: none;
    border: none;
	text-transform: uppercase;
	text-decoration: none;
	background: #355e93;
	letter-spacing: 1px;
}
.featStory.item a.content-type-text span,
.featStory.item a.content-type-text:link span {
	border-bottom: 1px solid rgba(174, 191, 212, 0);
    -webkit-transition: border .25s ease;
    -moz-transition: border .25s ease;
    -ms-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition: border .25s ease;
    text-decoration: none;
}
.featStory.item a.content-type-text .fas {
	display: none;
}
.featStory.item a.content-type-text:hover span,
.featStory.item a.content-type-text:link:hover span {
	border-bottom: 1px solid rgba(174, 191, 212, 1);
}
.featStory.item .content-type .separator {
    display: inline-block;
    color: #fff;
    float: none;
    border: none;
    margin: 0 10px 0 8px;
	opacity: .5;
	font-size: 20px;
}
.featStory figcaption h2 {
	font-size: 2.2rem;
	margin-bottom: 8px;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    line-height: 1.2em;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.featStory figcaption h2.title span {
	color: #fff;
	display: block;
	padding-left: 0px;
	border-left: 0px solid #fff;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
	padding-right: 19px;
}
.banner-item:hover figcaption h2.title span {
	color: #fff;
	padding-left: 15px;
	padding-right: 0px;
	border-left: 4px solid #fff;
	text-decoration: none;
}
/*.featStory figcaption h2 a {
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	-webkit-transition: border .25s ease;
	-moz-transition: border .25s ease;
	-ms-transition: border .25s ease;
	-o-transition: border .25s ease;
	transition: border .25s ease; 
	text-decoration: none;
}
.featStory figcaption h2 a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.featStory figcaption h2 a .underline {
  width: calc(100%);
  background-image: linear-gradient(to bottom, rgba(174,191,212,1) 0%,rgba(174,191,212,1) 100%);
  background-image: linear-gradient(to bottom, transparent 90%, #fff 90%, #fff 95%, transparent 95%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all .5s;
}
.featStory figcaption h2 a:hover .underline {
  background-size: 100% 100%;
}*/
.featStory figcaption .summary {
	color: #fff;
	margin: 0;
	/*min-height: 85px;*/
	font-size: 18px;
	max-width: 580px;
}

.featStory figcaption .bar {
	display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    color: #ebebeb;
    align-items: center;
    position: absolute;
    z-index: 12;
    bottom: 1.5rem;
    left: 2rem;
}
.featStory figcaption time {
	order: 3;
	padding: 0 30px;
	font-size: 18px;
    min-width: 90px;
}
.featStory figcaption .social {
    order: 2;
}
.featStory figcaption .social-inner {
    display: flex;
    font-size: 1.4rem;
}
.featStory figcaption .social-inner a {
    width: 35px;
    height: 35px;
	font-size: 17px;
	color: #ebebeb;
}
.featStory figcaption .fa.fa-facebook,
.featStory figcaption .fa.fa-twitter {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.featStoryImg {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    min-height: 100%;
}
.featStoryImg img {
	width: 100%;
	filter: blur(15px);
	-webkit-filter: blur(15px); /* Chrome, Safari, Opera */
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
}
/*.featStoryImg:before {
	display: block;
	content: '';
	width: 25%;
	max-width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -1px;
	background: -moz-linear-gradient(left, rgba(21,38,59,1) 1%, rgba(21,38,59,0) 100%);
	background: -webkit-linear-gradient(left, rgba(21,38,59,1) 1%,rgba(21,38,59,0) 100%);
	background: linear-gradient(to right, rgba(21,38,59,1) 1%,rgba(21,38,59,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15263b', endColorstr='#0015263b',GradientType=1 );
}*/
.featStoryImg img {
	width: 100%;
}
.story-img-wrap {
	display: block;
	position: relative;
	/*z-index: 4;
	margin: 0 0 0 auto;
    overflow: hidden;
    padding-top: 66%;
	background: #000;*/
}
.featStory .image-wrap-wrap {
    border: none;
}
.story-img-wrap a {
	display: block;
}
.story-img-wrap .image-replacement {
    background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
.story-img-wrap img {
	position: absolute;
	left: -999px;
}

#featArticles .slick-dotted.slick-slider {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}
.banner-slider {
	position: relative;
}
.banner-slider .fa-chevron-left {
	position: absolute;
	left: 1.3rem;
	color: #fff;
	top: calc(50% + 10px);
	z-index: 9;
	font-size: 2rem;
	opacity: 0.3;
	transition: all .25s;
}
.banner-slider .fa-chevron-right {
	position: absolute;
	right: 1.3rem;
	color: #fff;
	top: calc(50% + 10px);
	z-index: 9;
	font-size: 2rem;
	opacity: 0.3;
	transition: all .25s;
}
.banner-slider .fa-chevron-right,
.banner-slider .fa-chevron-left {
	opacity: .5;
}
.banner-slider .fa-chevron-right:hover,
.banner-slider .fa-chevron-left:hover {
	opacity: 1;
	cursor: pointer;
}

.banner-slider .slick-dots {
    position: absolute;
    bottom: 2rem;
    display: block;
    /* width: auto; */
    max-width: 1560px;
	padding: 0 4rem;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
}
.banner-slider .slick-dots li {
	background: #fff;
    border: none;
    font-size: 0px;	
	margin: 0 20px 0 0;
	width: 50px;
	height: 8px;
	opacity: .15;
}
.banner-slider .slick-dots li:hover {
	opacity: .45;
	transition: .15s all;
}
.banner-slider .slick-dots li.slick-active,
.banner-slider .slick-dots li.slick-active:hover {
	opacity: 1;
}
.banner-slider .slick-dots li button,
.banner-slider .slick-dots li button:before {
	width: 50%;
	height: 8px;
}


/***************************************************
    TEMP BANNER
***************************************************/
.banner-slider .slick-dots {
	text-align: right;
}
.banner-slider .slick-dots li {
	margin: 0 0 0 10px;
	width: 20px;
	height: 20px;
	opacity: .01;
}
.banner-slider .slick-dots li.slick-active,
.banner-slider .slick-dots li.slick-active:hover {
	opacity: .15;
}

/***************************************************
    EXPLORE BAR
***************************************************/
#explore-bar-wrap {
	display: block;
	position: relative;
	background:rgba(21,38,59,1);
	padding: 13px 0 20px;
	z-index: 10;
}
#explore-bar {
	margin: 0;
}
#explore-bar .item .image-wrap {
	margin-top: 7px;
}
#explore-bar .item .image-wrap-wrap {
    border: none;
}
#explore-bar .item .image-wrap a {
	display: block;
	position: relative;
	padding-top: 66%;
	overflow: hidden;
}
#explore-bar .item .image-replacement {
	background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
#explore-bar .item .image-wrap img {
	position: absolute;
	left: -9999px;
}
#explore-bar figcaption {
	margin: 0 15px;
}
#explore-bar figcaption .category {
    position: absolute;
}
#explore-bar figcaption .category a {
	color: #aebfd4;
	border-bottom: 1px solid rgba(174, 191, 212, 0);
	-webkit-transition: border .25s ease;
	-moz-transition: border .25s ease;
	-ms-transition: border .25s ease;
	-o-transition: border .25s ease;
	transition: border .25s ease; 
	text-decoration: none;
}
#explore-bar figcaption .category a:hover {
	border-bottom: 1px solid rgba(174, 191, 212, 1);
}
#explore-bar figcaption h3.title {
    font-family: 'Crimson Text', serif;
	font-size: 21px;
	font-weight: 500;
    margin-bottom: 0;
	margin-top: 2px;
    padding-top: 28px;
}
#explore-bar figcaption h3.title span {
	display: block;
	color: #fff;
	padding-left: 0px;
	border-left: 0px solid #fff;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
	padding-right: 13px;
}
#explore-bar .item:hover figcaption h3.title span {
	color: #fff;
	padding-left: 10px;
	padding-right: 0px;
	border-left: 3px solid #fff;
	text-decoration: none;
}
#explore-bar figcaption time {
	color: #adadad;
}
#explore-bar .item .link-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
#explore-bar .item .link-overlay span {
    color: #fff;
}
/*** SPOTLIGHT ***/
.explore-list figcaption .category a.content-type-spotlight:link {
	position: relative;
    padding-left: 30px;
}
.featStory.item a.content-type-spotlight:link {
	position: relative;
    padding-left: 48px;
}
.explore-list figcaption .category a.content-type-spotlight:before,
.featStory.item a.content-type-spotlight:before {
    content: "";
    width: 22px;
    height: 2px;
    background: #355e93;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
}
.explore-list figcaption .category a.content-type-spotlight:after,
.featStory.item a.content-type-spotlight:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #355e93;
    display: block;
    position: absolute;
    left: 0px;
    top: calc(50% - 5px);
}
#explore-bar figcaption .category a.content-type-spotlight:before,
#explore-bar figcaption .category a.content-type-spotlight:after {
	background: #aebfd4;
    left: 0;
}
.featStory.item a.content-type-spotlight:before,
.featStory.item a.content-type-spotlight:after {
	background: #fff;
    left: 18px;
}
/***************************************************
    GENERAL EXPLORE
***************************************************/

.edit-link {
    display: block;
    width: 25px;
    position: absolute;
    z-index: 12;
    top: 15px;
    right: 15px;
}
.edit-link a,
#explore-bar .item .image-wrap .edit-link a,
#news-list .item .image-wrap .edit-link a,
#services-list .item .image-wrap .edit-link a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    bottom: auto;
    padding: 4px;
    line-height: 16px;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    border: solid rgba(0,0,0,0.4) 1px;
}
#services-list .item .image-wrap .edit-link {
    top: 10px;
}
.edit-link a:hover,
#explore-bar .item .image-wrap .edit-link a:hover,
#news-list .item .image-wrap .edit-link a:hover,
#services-list .item .image-wrap .edit-link a:hover {
    background-color: rgba(255,255,255,.7);
}
.edit-link a img,
#explore-bar .item .image-wrap .edit-link a img,
#news-list .item .image-wrap .edit-link a img,
#services-list .item .image-wrap .edit-link a img {
	left: 0;
	position: relative;
}

.explore-list {
    margin-bottom: 2rem;
}
.explore-list figcaption .category {
    display:block;
    z-index: 2;
}
#news-list figcaption .category {
    position: absolute;
}
.explore-list figcaption .category a {
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
    color: #355e93;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(53, 94, 147, 0);
    -webkit-transition: border .25s ease;
    -moz-transition: border .25s ease;
    -ms-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition: border .25s ease; 
    text-decoration: none;
}
.explore-list figcaption .category a:hover {
	border-bottom: 1px solid rgba(53, 94, 147, 1);
}
.explore-list figcaption .category .separator {
    display: inline-block;
    color: #355e93;
    opacity: .5;
    margin: 0 8px 0 6px;
}
.explore-list figcaption h3.title {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
    margin-bottom: 0;
}
.explore-list figcaption .summary {
	font-size: 18px;
	margin: 0;
}
.explore-list .video-duration {
	display: none;
}
.explore-list figcaption time,
#homePress time {
    display: inline-block;
    font-size: 15px;
    margin: 5px 0;
    color: #717171;
    min-width: 90px;
}
#homePress time {
    color: #333;
}


.content-list-control {
	display: block;
	text-align: right;
    /*border-top: 3px solid #355e93;*/
    border-bottom: 3px solid #254267;
	overflow: hidden;
}
.content-list-control h2.pull-title {
	display: inline-block;
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 400;

	letter-spacing: 1px;
	text-shadow: none;
	color: #717171;
}
.content-list-control h2.title {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
    margin-bottom: 0;
}
.content-list-control h2 a,
.content-list-control h2 span {
    display: block;
	position: relative;
    background: #254267;
    color: #fff;
    padding: 3px 15px 2px 5px;
	height: 33px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.content-list-control h2 a:before,
.content-list-control h2 span:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -55px;
	width: 0;
	height: 0;
	border-bottom: 33px solid #254267;
	border-left: 55px solid transparent;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.content-list-control h2 a:hover {
	text-decoration: none;
    padding: 3px 10px 2px 5px;
	background: #15263b;
}
.content-list-control h2 a:hover:before {
	border-bottom-color: #15263b;
}
.content-list-control h2 a .fas {
	margin-left: 2px;
	position: relative;
	top: -2px;
	font-size: .8em;
}
#news-list .item {
    position: relative;
}
.image-wrap-wrap {
    display: block;
    position: relative;
    padding-top: 66%;
    overflow: hidden;
    border: 1px solid #adadad;
}
.explore-list figcaption .category a {
    z-index: 2;
}
#news-list .item figcaption h3.title span {
    display: block;
    padding-left: 0px;
    border-left: 0px solid #fff;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
    padding-right: 14px;
}
#news-list .item:hover figcaption h3.title span {
    color: #355e93;
    padding-left: 10px;
    padding-right: 0px;
    border-left: 4px solid #254267;
    text-decoration: none;
}
#news-list .item .link-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
/***************************************************
    SPOTLIGHT
***************************************************/
#spotlight-list {
	
}
#spotlight-list .item .image-wrap {
	display: block;
	position: relative;	
	overflow: hidden;
	padding-top: 56%;
}
#spotlight-list .item figcaption {
	display: block;
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 44%,rgba(0,0,0,0.65) 100%);
}
#spotlight-list .item figcaption h2 {
	font-size: 1.4rem;
	color: #fff;
	margin: 0;
}
#spotlight-list .item figcaption a {
	color: #fff;
}
#spotlight-list .alist-inner .dgov-grid {
	margin: 0 -15px;
}
#spotlight-list .item .image-replacement {
    background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
#spotlight-list .item img {
    position: absolute;
    left: -999em;
}

/***************************************************
    NEWS
***************************************************/
#news-list {
	margin-right: 0;
}
#news-list-control {
	margin-bottom: 22px;
}
#news-list-control .view-control {
	display: block;
	text-align: right;
}
#news-list-control .view-control li {
	display: inline-block;
	padding: 15px 20px;
	border-right: 1px solid #aebfd4;
}
#news-list-control .view-control li {
	border-left: 1px solid #aebfd4;
}
#news-list-control .view-control li .fas {
	font-size: .9em;
	margin-right: 5px;
}
#news-list .item {
	margin: 7px 0 23px;
}
#news-list .item .image-wrap {
    margin-right: 0;
	margin-top:8px;
}
#news-list .item .image-wrap a {
	/*display: block;
	position: relative;
	padding-top: 66%;
	overflow: hidden;
	border: 1px solid #adadad;*/
}
#news-list .item .image-replacement {
	background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
#news-list .item .image-wrap-wrap img {
	position: absolute;
	left: -9999px;
}
#news-list .item figcaption {
	margin-left: 20px;
}
#news-list .item figcaption h3.title {
	font-size: 1.6rem;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    line-height: 1.1em;
	margin-bottom: 8px;
    padding-top: 28px;
}
#news-list .item figcaption h3.title a {
	display: block;
	padding-left: 0px;
	border-left: 0px solid #fff;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
	padding-right: 14px;
}
#news-list .item figcaption h3.title a:hover {
	color: #355e93;
	padding-left: 10px;
	padding-right: 0px;
	border-left: 4px solid #254267;
	text-decoration: none;
}

/***************************************************
    FEATURES
***************************************************/
#feat-list {
	
}
#feat-list figcaption .category {
	
}
#feat-list figcaption .category a {
	display: inline-block;
	margin-bottom: 5px;
	color: #355e93;
}
#feat-list figcaption .summary {
	font-size: 18px;
	margin: 0;
}

/***************************************************
    SERVICES
***************************************************/
#services-list {
	margin-left: 45px;
	margin-bottom: 15px;
}
/*.fts-col-odd {
	flex-grow:2;
}*/
#services-list .item {
    position: relative;
}
#services-list .item .link-overlay {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
#services-list .item:hover .video-wrap-container img.defaultVideoOverlay {
    display: none;
}
#services-list .item:hover .video-wrap-container img.hoverVideoOverlay {
    display: block;
}
#services-list .source {
	display: block;
	position: relative;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
	background: #355e93;
	color: #fff;
	padding: 2px 7px;
	margin: 0 0 6px 15px;
}
#services-list .source.Army {
	background: #376251;
}
#services-list .source.Marine {
	background: #990F00;
}
#services-list .source.Navy {
	background: #88743A;
}
#services-list .source.Air {
	background: #144A75;
}
#services-list .source.Space {
background: #D2D5D2;
    color: #2C588F;
}
#services-list .source.Coast {
	background: #327AB7;
}
#services-list .source.National {
	background: #000000;
}
#services-list .item {
	padding-top: 15px;
	padding-bottom: 5px;
}
#services-list figcaption .category {
	padding-right: 30px;
}
#services-list figcaption h3 {
    font-family: "crimson text", serif;
	font-size: 21px;
	margin: 0;
	font-weight: 500;
	padding-left: 15px;
}
#services-list figcaption h3 span {
	display: block;
	padding-left: 0px;
	border-left: 0px solid #fff;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
	padding-right: 13px;
}
#services-list .item:hover figcaption h3 span  {
	color: #355e93;
	padding-left: 10px;
	padding-right: 0px;
	border-left: 3px solid #254267;
	text-decoration: none;
}

#services-list .item .image-wrap {
}
#services-list .item .image-wrap a {
	display: block;
	position: relative;
	padding-top: 66%;
	overflow: hidden;
	border: 1px solid #adadad;
}
#services-list .item .image-replacement {
	background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
#services-list .item .image-wrap img {
	position: absolute;
	left: -9999px;
}

/***************************************************
    SERVICES 2
***************************************************/
#services-list-2 {
	margin-left: 45px;
}
#services-list-2 .source {
	display: block;
	position: relative;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
	color: #fff;
	padding: 2px 7px;
	text-align: center;
}
#services-list-2 .source img {
	position: absolute;
    top: -8px;
    right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 22px;
	display: none;
}
#services-list-2 .source.army,
#services-list-2 .source.army img {
	background: #376251;
}
#services-list-2 .source.marines,
#services-list-2 .source.marines img {
	background: #990F00;
}
#services-list-2 .source.navy,
#services-list-2 .source.navy img {
	background: #998542;
}
#services-list-2 .source.airforce,
#services-list-2 .source.airforce img {
	background: #144A75;
}
#services-list-2 .item {
	padding-top: 15px;
	padding-bottom: 5px;
}
#services-list-2 figcaption .category {
	padding-right: 30px;
}
#services-list-2 figcaption h3 {
    font-family: "crimson text", serif;
	font-size: 23px;
	margin: 0;
	font-weight: 500;
	padding-left: 15px;
}

#services-list-2 .item .image-wrap {
}
#services-list-2 .item .image-wrap a {
	display: block;
	position: relative;
	padding-top: 66%;
	overflow: hidden;
	border: 1px solid #adadad;
}
#services-list-2 .item .image-replacement {
	background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
#services-list-2 .item .image-wrap img {
	position: absolute;
	left: -9999px;
}

/***************************************************
    SERVICES 3
***************************************************/
#services-list-3 {
	margin-left: 45px;
}
#services-list-3 .source {
	display: block;
	position: relative;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
	color: #fff;
	padding: 2px 7px;
	margin: 0 0 6px 15px;
}
#services-list-3 .source img {
	position: absolute;
    top: -8px;
    right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 22px;
	display: none;
}
#services-list-3 .source.army,
#services-list-3 .source.army img {
	background: #376251;
}
#services-list-3 .source.marines,
#services-list-3 .source.marines img {
	background: #990F00;
}
#services-list-3 .source.navy,
#services-list-3 .source.navy img {
	background: #998542;
}
#services-list-3 .source.airforce,
#services-list-3 .source.airforce img {
	background: #144A75;
}
#services-list-3 .item {
	padding-top: 15px;
	padding-bottom: 5px;
}
#services-list-3 figcaption .category {
	padding-right: 30px;
}
#services-list-3 figcaption h3 {
    font-family: "crimson text", serif;
	font-size: 21px;
	margin: 0;
	font-weight: 500;
	padding-left: 15px;
}

#services-list-3 .item .image-wrap {
}
#services-list-3 .item .image-wrap a {
	display: block;
	position: relative;
	padding-top: 66%;
	overflow: hidden;
	border: 1px solid #adadad;
}
#services-list-3 .item .image-replacement {
	background-color: rgba(255,255,255,.05);
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
	transform: scale(1.3);
}
#services-list-3 .item .image-wrap img {
	position: absolute;
	left: -9999px;
}

/***************************************************
''    NEWSROOM
***************************************************/
#newsroom {
	padding-top: 0;
}
.newsroom-inner {
	max-width: 1400px;
	margin: 0 auto;
}
#homePress {
	margin-left: 45px;
}
#homePress .alist-inner {
	padding: 12px 30px 15px;
    background: #ebeff5;
    border: 1px solid #355e93;
    border-top: none;
}
#homePress .item {
	margin: 10px 0;
}
#homePress .content-type-text {
	display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #355e93;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#homePress h3 {
    font-family: "crimson text", serif;
	font-size: 21px;
	margin: 0;
	font-weight: 500;
    padding-top: 28px;
}
#homePress h3 span {
	display: block;
	padding-left: 0px;
	border-left: 0px solid #fff;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.15s linear;
	padding-right: 13px;
}
#homePress .item:hover h3 span {
	color: #355e93;
	padding-left: 10px;
	padding-right: 0px;
	border-left: 3px solid #254267;
	text-decoration: none;
}
#homePress figcaption .category {
    position: absolute;
    z-index: 6;
}
#homePress hr {
	margin: 10px 0 15px;
}
#homePress .separator {
    display: inline-block;
	color: #355e93;
    opacity: .5;
    margin: 0 8px 0 6px;
}
#homePress .item .link-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
/*#homePress-list-control .press-control {
	display: block;
	text-align: right;
}
#homePress-list-control .press-control li {
	display: inline-block;
	padding: 5px 15px;
	margin: 0 0 0 5px;
	border-radius: 4px;
	color: #355e93;
}
#homePress-list-control .press-control li span {
	font-size: .85em;
    color: #333;
    position: relative;
    top: -1px;
}
#homePress-list-control .press-control li:hover {
	background: #ebebeb;
	cursor: pointer;
}
#homePress-list-control .press-control li.active,
#homePress-list-control .press-control li.active:hover {
	background: #355e93;
	color: #fff;
	cursor: default;
}*/

/***************************************************
    OUR STORY
***************************************************/
#our-story {
	/*padding: 4rem 0;
	background: #222;*/
	padding: 0 0 2rem;
}
.almost-full-grid {
	padding: 0;
}
.priorityEach a {
	display: block;
	padding: 100px 30px;
	background: #000;
	color: #fff;
	text-align: center;
}
.itemEach .contain {
	position: relative;
	overflow: hidden;
	height: 300px;
}
.prioritiesList .itemEach .contain {
	display: block;
	height: 420px;
	background: #355e93;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.itemEach .bg {
	-webkit-box-shadow: 0 13px 20px -9px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 13px 20px -9px rgba(0,0,0,0.5);
	box-shadow: 0 13px 20px -9px rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all .25s ease-out;
}
.itemEach .text {
	/*width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 30px 50px 30px 30px;
	z-index: 99;
	left: 8px;*/
	width: 85%;
    text-align: right;
    display: block;
    position: absolute;
    bottom: 20px;
    /* transform: translateY(-50%); */
    padding: 0;
    z-index: 99;
    right: 0;
}
.itemEach h3 {
	display: inline-block;
	position: relative;
	font-weight: 600;
	font-family: "Lato", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.8rem;
	color: #fff;
	margin-bottom: 10px;
	margin-right: 25px;
}
.prioritiesList .itemEach h3:before {
	/*width: 10%;
	height: 3px;
	content: '';
	background-color: #fff;
	display: block;
	position: relative;
	margin: auto;
	margin-top: 20px;
	transition: all .25s;*/
	width: 40px;
	height: 3px;
	content: '';
	background-color: #fff;
	display: block;
	position: absolute;
	top: -8px;
	right: 0;
	transition: all .25s;
}
.itemEach p {
	color: #fff;
	margin: auto;
	font-size: 18px;
	padding-right: 25px;
}
.itemEach a {
	display: block;
	color: #fff;
}
.itemEach a:hover {
	text-decoration: none;
}
.prioritiesList .itemEach {
	padding: 0 10px !important;
}
.prioritiesList .itemEach:nth-child(1) .text {
}
.prioritiesList .itemEach:nth-child(2) .text {
}
.prioritiesList .itemEach:nth-child(3) .text {
}
/*.prioritiesList .itemEach:nth-child(1) .digs-cont .digs:before {
	border-width: inherit;
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	left: -24px;
	top: -12px;
	border-left-width: 45px;
	border-left-color: #fff;
	width: 100%;
	height: 106%;
	transform: rotate(0);
}
.prioritiesList .itemEach:nth-child(1) .digs-cont .digs:after,
.prioritiesList .itemEach:nth-child(2) .digs-cont .digs:after {
	border-width: inherit;
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	right: -20px;
	bottom: -50px;
	border-right-width: 38px;
	border-right-color: #fff;
	width: 100%;
	height: 113%;
	transform: rotate(-5deg);
}
.prioritiesList .itemEach:nth-child(2) .digs-cont .digs:before,
.prioritiesList .itemEach:nth-child(3) .digs-cont .digs:before {
	border-width: inherit;
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	left: -20px;
	top: -50px;
	border-left-width: 38px;
	border-left-color: #fff;
	width: 100%;
	height: 113%;
	transform: rotate(-5deg);
}
.prioritiesList .itemEach:nth-child(3) .digs-cont .digs:after {
	border-width: inherit;
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	right: -24px;
	top: -12px;
	border-right-width: 47px;
	border-right-color: #fff;
	width: 100%;
	height: 106%;
	transform: rotate(0);
}*/
.prioritiesList .itemEach:nth-child(1) .bg {
	background: linear-gradient(135deg, rgba(0,0,0,.7) 100%, rgba(0,0,0,.7) 0%), url(../legal-and-administrative/pentagon.jpg) center center;
	background-position: center;
	background-size: cover;
}
.prioritiesList .itemEach:nth-child(2) .bg {
	background: linear-gradient(135deg, rgba(0,0,0,.7) 100%, rgba(0,0,0,.7) 0%), url(../leaders/depsecdef/esper-remarks.jpg) center center;
	background-position: center;
	background-size: cover;
}
.prioritiesList .itemEach:nth-child(3) .bg {
	background: linear-gradient(135deg, rgba(0,0,0,.7) 100%, rgba(0,0,0,.7) 0%), url(../../../../media_subdomain/2018/May/11/2001915820/1088/820/0/180428-F-CH060-901.JPG) center center;
	background-position: center;
	background-size: cover;
}
.itemEach .contain:hover .bg {
	transform: scale(1.1);
}
.prioritiesList .itemEach .contain:hover h3:before {
	width: 100%;
}
.prioritiesList .itemEach .contain:hover .bg {
	opacity: .8;
}
.prioritiesList .itemEach:nth-child(1) .contain:hover .bg {
	background: linear-gradient(135deg, rgba(33,66,103,.7) 100%, rgba(33,66,103,.7) 0%), url(../legal-and-administrative/pentagon.jpg) center center;
}
.prioritiesList .itemEach:nth-child(2) .contain:hover .bg {
	background: linear-gradient(135deg, rgba(33,66,103,.7) 100%, rgba(33,66,103,.7) 0%), url(../leaders/depsecdef/esper-remarks.jpg) center center;
}
.prioritiesList .itemEach:nth-child(3) .contain:hover .bg {
	background: linear-gradient(135deg, rgba(33,66,103,.7) 100%, rgba(33,66,103,.7) 0%), url(../../../../media_subdomain/2018/May/11/2001915820/1088/820/0/180428-F-CH060-901.JPG) center center;
}

/***************************************************
    EXPERIENCE
***************************************************/
#experience {
	background: #141414;
    padding-bottom: 1rem;
}

/***************************************************
    MULTIMEDIA
***************************************************/
#media {
	padding: 0;
	background-color: #222;
}
#media .content-wrap {
	width: 100%;
	max-width: 100%;
}
.media-banner {
	display: block;
	position: relative;
	color: #141414;
	overflow: hidden;
	box-shadow: 0 0 20px -2px rgba(0,0,0,0.75) inset;
}

.multimedia-copy {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 4rem 4rem 5rem;
	z-index: 999;
	/*background: -moz-linear-gradient(left, rgba(255,255,255,1) 33%, rgba(255,255,255,0) 66%);


	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 33%,rgba(255,255,255,0) 66%);
	background: linear-gradient(to right, rgba(255,255,255,1) 33%,rgba(255,255,255,0) 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffffff',GradientType=1 );*/
	background: -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 33%, rgba(20,20,20,0) 100%);
	background: -webkit-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(20,20,20,1) 33%,rgba(20,20,20,0) 100%);
	background: linear-gradient(to right, rgba(20,20,20,1) 0%,rgba(20,20,20,1) 33%,rgba(20,20,20,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#00141414',GradientType=1 );
}
.multimedia-copy::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7rem;
	background: -moz-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
	background: -webkit-linear-gradient(top, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
	background: linear-gradient(to bottom, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#00141414',GradientType=0 );
}
.multimedia-copy .dgov-grid {
	max-width: 1400px;
}
.multimedia-copy h3 {
	color: #fff;
}
.multimedia-copy p {
	color: #fff;
	max-width: 500px;
}
.multimedia-copy .btn {
	margin-right: 15px;
	margin-bottom: 15px;
}
#gridlayout-slideshow-3122,
#gridlayout-slideshow-3207 {
	display: block;
	position: absolute;
	top: 50%;
	right: -10px;
	width: 75%;
	transform: translateY(-50%) rotate(5deg);
}
#gridlayout-slideshow-3122 .gridlayout,
#gridlayout-slideshow-3207 .gridlayout {
    background: #222;
	padding: 0;
}
#gridlayout-slideshow-3122 .gridlayout-cell,
#gridlayout-slideshow-3207 .gridlayout-cell {
	padding: 4px;
}
/*#gridlayout-slideshow-3039 .gridlayout .gridlayout-row .gridlayout-cell:nth-child(3) a:before {
	content: '';
	display: block;
    position: absolute;
	background-image:url(../../../_default/Skins/DGOV2/Resources/img/play-default.png);
	max-width: 140px;
    min-width: 60px;
    border: none !important;
    z-index: 10;
    left: 50% !important;
    width: 16% !important;
    top: 50% !important;
    transform: translate(-50%,-50%);
    cursor: pointer;
}*/

/***************************************************
    QUIZZES
***************************************************/
.dgov-carousel {
	padding: 4rem 0 2rem;
}
.dgov-carousel-engage .title h2 {
	font-size: 1.4rem;
}


/***************************************************
    ETC ...
***************************************************/


/***************************************************
    RESPONSIVE
***************************************************/
/* XLG */
@media only screen and (max-width: 1400px) {
	
}
/* LG */
@media only screen and (max-width: 1200px) {
	#homePress,
	#services-list {
		margin-left: 0;
	}
	.service-1-toggle {
		left: 0;
	}
	.service-2-toggle {
		left: 25px;
	}
	.service-3-toggle {
		left: 50px;
	}
	.multimedia-copy {
		background: -moz-linear-gradient(left, rgba(20,20,20,1) 50%, rgba(20,20,20,0) 75%);
		background: -webkit-linear-gradient(left, rgba(20,20,20,1) 50%,rgba(20,20,20,0) 75%);
		background: linear-gradient(to right, rgba(20,20,20,1) 50%,rgba(20,20,20,0) 75%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#00141414',GradientType=1 );
	}
	/*** BANNER THUMBS ***/
    .banner-item {
        padding-top: 75px;
    }
	#explore-bar-wrap {
		padding: 15px 20px 25px;
	}
	#explore-bar .item .image-wrap,
	#explore-bar figcaption {
		margin: 5px 10px 0;
	}
	
}
/* MD */
@media (max-width:1199px) and (min-width:768px) {
	#services-list .item-odd {
		margin-right:7px;
	}
	#services-list .item-even {
		margin-left:7px;
	}
}
@media only screen and (max-width: 991px) {
	/*** BANNER FEATURED ***/
	.featStory {
		padding: 30px;
	}
	.featStory .content-wrap,
	.explore-bar-wrap .content-wrap {
		width: 100%;
		max-width: 100%;
	}
	.featStory.item .content-type {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 15px;
	}
	.featStory figcaption {
		margin-right: 30px;
		padding: 0 0 3rem;
		background: none;
	}
    .featStory figcaption .bar {
        left: 0;
        bottom: 0;
    }
	/*** LIVE EVENTS ***/
	#v-4 .live-bar {
		display: block;
		border-bottom: 1px solid #D4D4D4;
	}
	#v-4 .x {
		position: absolute;
		right: 15px;
		opacity: 0.3;
		transition: all .2s;
		top: 5px;
	}
	#v-4 .live-now {
		width: 100%;
		text-align: left;
		padding: 5px 15px;
		transform: none;
		max-width: 100%;
		min-width: 0;
	}
	#v-4 .live-now span {
		transform: none;
		text-align: left;
	}
	#v-4 .live-now:after {
		display: none;
	}
	#v-4 .more {
		display: block;
		width: 100%;
		position: relative;
		right: 0px;
		opacity: 0.3;
		transition: all .2s;
		margin-top: 8px;
		text-align: right;
		padding: 0 15px;
	}
	#v-4 .bar {
		display: block;
		width: 100%;
		margin-right: 0;
		padding: 12px 15px;
	}
	#v-4 .event-title {
		padding:0 0 12px;
	}
	
	/*** EXPLORE ***/
	.page-wrap {
	    width: 100%;
		padding: 30px 30px 5px !important;
	}
	
	/*** EXPERIENCE ***/
	#experience {
		padding: 30px;
	}
	#experience .content-wrap {
		width: 100%;
	}
	
	/*** MULTIMEDIA ***/
	
	#media {
		background-position: center -210px;
	}
	.multimedia-copy {
		padding: 1rem 30px 4rem;
    	text-align: center;
		margin-top: 15rem;
		background: #141414;
	}
	.multimedia-copy:before {
		content: '';
		position: absolute;
		top: -15rem;
		left: -5%;
		height: calc(15rem + 1px);
		width: 110%;
		background: -moz-linear-gradient(top, rgba(20,20,20,0) 30%, rgba(20,20,20,1) 100%);
		background: -webkit-linear-gradient(top, rgba(20,20,20,0) 30%,rgba(20,20,20,1) 100%);
		background: linear-gradient(to bottom, rgba(20,20,20,0) 30%,rgba(20,20,20,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141414', endColorstr='#141414',GradientType=0 );
	}
	.multimedia-copy p {
		margin: 0 auto 30px;
		max-width: 650px;
	}
	.multimedia-copy .btn {
		margin: 0 8px 15px;
	}
	#gridlayout-slideshow-3122,
	#gridlayout-slideshow-3207 {
		width: 100%;
		left: 0;
		right: auto;
		top: 45%;
	}
	
}
/* SM */
@media only screen and (max-width: 768px) {
	/*** BANNER FEATURED ***/
	.banner-item {
		padding-top: 60px;
	}
	/*** EXPLORE ***/
	.page-wrap {
		padding: 2rem 15px 10px !important;
	}
	#news-list-control {
		margin-bottom: 7px;
	}
	#news-list .item {
		margin: 7px 0;
		padding-bottom: 15px;
		border-bottom: 1px solid #ebebeb;
	}
	/*** PRESS PRODUCTS ***/
	#homePress .alist-inner {
		padding: 12px 15px 15px;
	}
	#homePress .item {
		margin: 0 0 5px;
	}
	#homePress hr {
		margin: 10px 0 10px;
	}
	/*** EXPERIENCE ***/
	#experience {
		padding: 2rem 15px;
	}
	
}
@media only screen and (max-width: 767px) {
	/*** BANNER FEATURED ***/
	.featStory {
		padding: 0;
	}
	.featStory figcaption {
		margin: 0;
		padding: 30px 15px 4.5rem;
		background: -moz-linear-gradient(top, rgba(21,38,59,1) 0%, rgba(21,38,59,1) 10%, rgba(21,38,59,0) 100%);
		background: -webkit-linear-gradient(top, rgba(21,38,59,1) 0%,rgba(21,38,59,1) 10%,rgba(21,38,59,0) 100%);
		background: linear-gradient(to bottom, rgba(21,38,59,1) 0%,rgba(21,38,59,1) 10%,rgba(21,38,59,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15263b', endColorstr='#0015263b',GradientType=0 );
	}
    .featStory figcaption .bar {
        left: 15px;
        bottom: 15px;
    }
	.story-img-wrap {
		border-radius: 0;
	}
	.featStory.item .content-type {
		position: absolute;
		top: -17px;
		left: 0;
	}
	.featStoryImg {
		bottom: 0;
		transform: none;
	}
	/*** BANNER THUMBS ***/
	#explore-bar-wrap {
		padding: 0 15px 15px;
	}
	#explore-bar .item .dgov-grid {
		padding: 15px 0;
		border-top: 1px solid #254267;
	}
	#explore-bar .item .image-wrap {
		margin: 0;
	}
	#explore-bar figcaption {
		margin:0 0 0 15px;
	}
	#explore-bar figcaption h3.title {
		font-size: 1.6rem;
	}
	/*** EXPLORE ***/
	#news-list .item figcaption {
		margin-left: 15px;
	}
	/*** MULTIMEDIA ***/
	.multimedia-copy {
		padding: 1rem 15px 2rem;
		margin-top: 24rem
	}
	.multimedia-copy:before {
		top: -24rem;
		height: calc(24rem + 1px);
		background: -moz-linear-gradient(top, rgba(20,20,20,0) 70%, rgba(20,20,20,1) 100%);
		background: -webkit-linear-gradient(top, rgba(20,20,20,0) 70%,rgba(20,20,20,1) 100%);
		background: linear-gradient(to bottom, rgba(20,20,20,0) 70%,rgba(20,20,20,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141414', endColorstr='#141414',GradientType=0 );
	}
	#gridlayout-slideshow-3122,
	#gridlayout-slideshow-3207 {
		width: 100%;
		left: 0;
		top: -4px;
		transform: none;
	}
	
}
/* XS */
@media only screen and (max-width: 575px) {
	#explore-bar .item .image-wrap,
	#news-list .item .image-wrap {
		margin: 0 0 10px; 
	}
	#explore-bar figcaption {
		margin: 0;
	}
	#explore-bar figcaption h3.title,
	#news-list .item figcaption h3.title {
		font-size: 24px;
	}
	#news-list .item figcaption {
		margin-left: 0;
	}
	#services-list .source {
		margin-left: 0;
	}
	#services-list figcaption h3 {
		padding-left: 0;
	}
	/*** MULTIMEDIA ***/
	.multimedia-copy {
		margin-top: 20rem
	}
	.multimedia-copy:before {
		top: -20rem;
		height: calc(20rem + 1px);
	}
	
}
/* XXS */
@media only screen and (max-width: 450px) {
	/*** MULTIMEDIA ***/
	.multimedia-copy {
		margin-top: 16rem
	}
	.multimedia-copy:before {
		top: -16rem;
		height: calc(16rem + 1px);
	}
	
}

/***************************************************
    IE SPECIFIC ( IE10+ CSS styles go here )
***************************************************/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.featStoryImg img {
		opacity: .2;
	}
}

/***************************************************
    PRINT
***************************************************/
@media print { 
    /*** MISC ***/
    h2.tab-title a, h2.tab-title span {
        text-decoration: none;
    }
    h2.tab-title a:before, h2.tab-title span:before {
        display: none;
    }
    .featStoryImg,
    #explore-bar .item .link-overlay,
    #featArticles .featStory .link-overlay,
    #news-list .item .link-overlay,
    #services-list .item .link-overlay,
    /*#explore-bar .item .image-wrap,
    #news-list .item .image-wrap,
    #services-list .item .image-wrap,*/
    #explore-bar figcaption .category a.content-type-spotlight:before,
    #explore-bar figcaption .category a.content-type-spotlight:after,
    .dvids-module-mode-LiveBar,
    .ModSlideShowC {
        display: none;
    }
    
    /*** BANNER ***/
    .banner-item {
        padding: 15px 0 0;
    }
    .featStory {
        padding: 0 15px;
    }
    .featStory .dgov-grid > div/*,
    #explore-bar .item .dgov-grid > div,
    #news-list .item .dgov-grid > div,
    #services-list .item .dgov-grid > div*/ {
        width: 100%;
    }
    .featStory .image-wrap-wrap {
        padding-top: 0;
    }
    .image-wrap-wrap {
        padding-top: 0;
    }
    #explore-bar .item .image-replacement,
    #news-list .item .image-replacement,
    #services-list .item .image-replacement {
        display: none;
    }
    #explore-bar .item .image-wrap,
    #news-list .item .image-wrap {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .featStory .story-img-wrap .story-img,
    #explore-bar .item .image-wrap img,
    #news-list .item .image-wrap-wrap img,
    #services-list .item .image-wrap img {
        position: relative;
        left: 0;
    }
    #explore-bar figcaption,
    #news-list .item figcaption{
        margin: 0;
    }
    .video-wrap-container img.defaultVideoOverlay {
        position: absolute;
    }
    .featStory figcaption {
        padding: 15px 0;
        margin: 0;
    }
    .featStory.item .content-type {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 0;
    }
    .featStory.item a.content-type-text,
    .featStory.item a.content-type-text:link,
    .featStory.item a.category,
    .featStory.item a.category:link {
        padding-left: 0;
    }
    .featStory.item a.content-type-text img,
    .featStory.item a.content-type-text:link img,
    .featStory.item a.category img,
    .featStory.item a.category:link img {
        display: none !important;
    }
    .featStory figcaption .bar {
        position: relative;
        bottom: 0;
        left: 0;
    }
    #explore-bar {
        padding: 0 15px;
    }
    #explore-bar figcaption .category {
        position: relative;
    }
    #explore-bar figcaption h3.title {
        padding: 0 0 25px;
    }
    
    /*** CONTENT ***/
    #news-list,
    #homePress,
    #services-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    #homePress .alist-inner {
        padding: 12px 0 15px;
        border: none;
    }
    #explore-bar .item {
        margin-bottom: 15px;
    }
    .explore-list figcaption .category a.content-type-spotlight:link {
        padding-left: 0;
    }
    #services-list .source {
        margin-left: 10px;
    }

    /*** EXPERIENCE ***/
    

    /*** MULTIMEDIA ***/
    .multimedia-copy {
        padding: 30px 15px;
    }
    .multimedia-copy h3 {
        font-size: 34px;
    }
    .multimedia-copy p {
        font-size: 18px;
    }
    
}

/***************************************************
    end.
***************************************************/